body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: black;
}
#wrapper1{
  height: 100vh;
  width: 100%;
}
#mainborder{
  width: 96%;
  height: 92vh;
  padding: 2%;
}
main{
  height: 100%;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
  "upleft empty1 upright"
  "empty2 title empty3"
  "downleft empty4 downright";
  /*background-image: url('../imgs/postbackground.JPG');*/
  /*background: rgba(245, 242, 208, 1);*/
  background-color: #F9CC3B;

}
main > div{
  cursor: pointer;
  font-size: 3vw;
  font size: bold;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  position: center;
  margin: auto;
}

#career{
  grid-area: upleft;
}

#history{
  grid-area: upright;
}
#title{
  cursor: default;
  grid-area: title;
  font-size: 100px;
  text-decoration: underline;
}
#album{
  grid-area: downleft;
}
#media{
  grid-area: downright;
}
#wrapper2{
  height: 200vh;
  width: 100%;
}
#historypage, #albumpage, #mediapage{
  background-color: green;
  width: 96%;
  height: 92vh;
  padding: 2%;
  font-family: 'Arimo', sans-serif;
}

#historypage{
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 70%;
  grid-template-rows: 16vw 16vw 16vw;
  font-size: 200%;
  margin: auto;
  min-height: 800px;
}
.historycells{
  border-color: black;
  border-style: solid;
  background-color: #F9CC3B;
  font-size: 2vw;
  text-align: center;
}
#albumpage{
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80%;
  min-height: 800px;
  min-width: 900px;

}
.albumcells{
  border-color: black;
  border-style: solid;
  background-color: #F9CC3B;
  font-size: 23px;
  text-align: center;
  height: 600px;
  min-width: 300px;
}
.mediapage{
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 70%;
  grid-template-rows: 16vw 16vw 16vw;
}
h1{
  font-size: 2vw;
}
