body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#wrapper{
  height: 2000px;
  width: 100%;
  /*background: rgba(245, 242, 208, 1);*/
   background-color: black;
}
#mainborder{
    display: none;
 background-color: black;
 width: 96%;
 height: 92vh;
 padding: 2%;
}
main{
  height: 100%;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
  "upleft empty1 upright"
  "empty2 title empty3"
  "downleft empty4 downright";
  background-image: url('../imgs/postbackground.JPG');
  background-size: cover;

  /*background: rgba(245, 242, 208, 1);*/
  /*background-color: white;*/
}
main > div{
  font-size: 100px;
  font size: bold;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  position: center;
  margin: auto;
}

#career{
  grid-area: upleft;
}
#history{
  grid-area: upright;
}
#title{
  grid-area: title;
  text-decoration: underline;
}
#album{
  grid-area: downleft;
}
#gallery{
  grid-area: downright;
}
h1{
  font-size: 100px;
}
